# Geog 573 Advanced Geocomputing and Geospatial Big Data Analytics
# Prof. Song Gao (song.gao@wisc.edu)
# TA: Yuhao Kang (yuhao.kang@wisc.edu)
# Lab1 - Overview & Scientific Computing Basic

In [1]:
import numpy as np
import pandas as pd

1. Create a new cell
2. Move cells
3. Copy and paste cells
4. Upload files
5. Download files
6. Tab

# DataFrame

In [2]:
# convert list to dataframe
# list of strings
lst = ['Geog 573', 'Geog 574', 'Geog 575', 'Geog 579']

# Calling DataFrame constructor on list
df1 = pd.DataFrame(lst)
df2 = pd.DataFrame(lst, columns=["course"])
print(df1)
print(df2)

          0
0  Geog 573
1  Geog 574
2  Geog 575
3  Geog 579
     course
0  Geog 573
1  Geog 574
2  Geog 575
3  Geog 579

In [3]:
# convert dictionary to dataframe
# list of strings
data = {'course': ['Geog 573', 'Geog 574', 'Geog 575', 'Geog 579'],
      'teacher': ['Song', 'Qunying', 'Robert', 'A-Xing'],
       'student': [30, 25, 35, 28]}

# Calling DataFrame constructor on list
df = pd.DataFrame(data)
print(df.head())

     course  teacher  student
0  Geog 573     Song       30
1  Geog 574  Qunying       25
2  Geog 575   Robert       35
3  Geog 579   A-Xing       28

In [4]:
# print column
print(df.course)
print(df["course"])

0    Geog 573
1    Geog 574
2    Geog 575
3    Geog 579
Name: course, dtype: object
0    Geog 573
1    Geog 574
2    Geog 575
3    Geog 579
Name: course, dtype: object

In [9]:
# create/modify a new column
df["department"] = "Geography"
print(df)

     course  teacher  student department
0  Geog 573     Song       30  Geography
1  Geog 574  Qunying       25  Geography
2  Geog 575   Robert       35  Geography
3  Geog 579   A-Xing       28  Geography

In [10]:
df

     course  teacher  student department
0  Geog 573     Song       30  Geography
1  Geog 574  Qunying       25  Geography
2  Geog 575   Robert       35  Geography
3  Geog 579   A-Xing       28  Geography

In [11]:
# get values at specific locations: df.loc[column, column]
print(df.loc[2, "teacher"])
print(df.loc[1:3, ["teacher","department"]])

Robert
   teacher department
1  Qunying  Geography
2   Robert  Geography
3   A-Xing  Geography

In [7]:
# get values at specific locations with index: df.iloc[index, column index]
print(df.iloc[2, 1])
print(df.iloc[1:, 1:3])

Robert
   teacher  student
1  Qunying       25
2   Robert       35
3   A-Xing       28

In [12]:
# merge dataframe
df_merge = pd.merge(left=df, left_on="course", right=df, right_on="course")
print(df_merge)

     course teacher_x  student_x department_x teacher_y  student_y  \
0  Geog 573      Song         30    Geography      Song         30
1  Geog 574   Qunying         25    Geography   Qunying         25
2  Geog 575    Robert         35    Geography    Robert         35
3  Geog 579    A-Xing         28    Geography    A-Xing         28

  department_y
0    Geography
1    Geography
2    Geography
3    Geography

In [14]:
# sort values
df.sort_values(by='course', ascending=False)

     course  teacher  student department
3  Geog 579   A-Xing       28  Geography
2  Geog 575   Robert       35  Geography
1  Geog 574  Qunying       25  Geography
0  Geog 573     Song       30  Geography

In [10]:
# get statistics
print(df["student"].min())
print(df["student"].max())

25
35

In [11]:
# show statistics of the dataframe
df.describe()

         student
count   4.000000
mean   29.500000
std     4.203173
min    25.000000
25%    27.250000
50%    29.000000
75%    31.250000
max    35.000000

# Tasks
1. Download and install Anaconda. Try to install third-party packages such as geopandas.
2. Practice all pandas dataframe-related functions to learn how to process data using pandas.
3. Register a free Flickr, Google geocoding, and Twitter developer account before the Lab 3.